<!--
title: Template Monster
description: 
published: 1
date: 2024-01-14T09:41:04.843Z
tags: template
editor: ckeditor
dateCreated: 2024-01-14T09:36:56.194Z
-->

<h1>Bugbear </h1>
<img src="/monsters/monster_manual_5e_-_bugbear_-_p33.webp" alt="monster_manual_5e_-_bugbear_-_p33.webp" />
<table class="statBlock" cellspacing="0">
	<tr>
		<th><a href="/srd/monsters/intro.htm#sizeAndType">Size/Type</a>:</th>
		<td><a href="/srd/combat/movementPositionAndDistance.htm#bigandLittleCreaturesInCombat">Medium</a> <a href="/srd/typesSubtypes.htm#humanoidType">Humanoid</a> (<a href="/srd/typesSubtypes.htm#goblinoidSubtype">Goblinoid</a>)</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#hitDice">Hit Dice</a>:</th>
		<td><a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Hit Points','3d8+3');" title="Roll the dice!">3d8+3</a> (16 hp)</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#initiative">Initiative</a>:</th>
		<td><a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Initiative','1d20+1');" title="Roll the dice!">+1</a></td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#speed">Speed</a>:</th>
		<td>30 ft. (6 squares)</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#armorClass">Armor Class</a>:</th>
		<td>17 (+1 Dex, +3 natural, +2 leather armor, +1 light wooden shield), touch 11, <a href="/srd/conditionSummary.htm#flatFooted">flat-footed</a> 16</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#baseAttackGrapple">Base Attack/Grapple</a>:</th>
		<td><a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Base Attack','1d20+2');" title="Roll the dice!">+2</a>/<a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Grapple check','1d20+4');" title="Roll the dice!">+4</a></td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#attack">Attack</a>:</th>
		<td>Morningstar <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Attack','1d20+5');" title="Roll the dice!">+5</a> melee (<a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Damage','1d8+2');" title="Roll the dice!">1d8+2</a>) or <a href="/srd/equipment/weapons.htm#javelin">javelin</a> <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Attack','1d20+3');" title="Roll the dice!">+3</a> ranged (<a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Damage','1d6+2');" title="Roll the dice!">1d6+2</a>)</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#fullAttack">Full Attack</a>:</th>
		<td>Morningstar <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Attack','1d20+5');" title="Roll the dice!">+5</a> melee (<a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Damage','1d8+2');" title="Roll the dice!">1d8+2</a>) or <a href="/srd/equipment/weapons.htm#javelin">javelin</a> <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Attack','1d20+3');" title="Roll the dice!">+3</a> ranged (<a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Damage','1d6+2');" title="Roll the dice!">1d6+2</a>)</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#spaceReach">Space/Reach</a>:</th>
		<td>5 ft./5 ft.</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#specialAttacksAndSpecialQualities">Special Attacks</a>:</th>
		<td>—</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#specialAttacksAndSpecialQualities">Special Qualities</a>:</th>
		<td><a href="/srd/specialAbilities.htm#darkvision">Darkvision</a> 60 ft., <a href="/srd/specialAbilities.htm#scent">scent</a></td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#saves">Saves</a>:</th>
		<td>Fort <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Fortitude Save','1d20+2');" title="Roll the dice!">+2</a>, Ref <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Reflex Save','1d20+4');" title="Roll the dice!">+4</a>, Will <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Will Save','1d20+1');" title="Roll the dice!">+1</a></td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#abilities">Abilities</a>:</th>
		<td>Str 15, Dex 12, Con 13, Int 10, Wis 10, Cha 9</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#skills">Skills</a>:</th>
		<td><a href="/srd/skills/climb.htm">Climb</a> <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Climb Check','1d20+3');" title="Roll the dice!">+3</a>, <a href="/srd/skills/hide.htm">Hide</a> <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Hide Check','1d20+4');" title="Roll the dice!">+4</a>, <a href="/srd/skills/listen.htm">Listen</a> <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Listen Check','1d20+4');" title="Roll the dice!">+4</a>, <a href="/srd/skills/moveSilently.htm">Move Silently</a> <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Move Silently Check','1d20+6');" title="Roll the dice!">+6</a>, <a href="/srd/skills/spot.htm">Spot</a> <a href="javascript:void(0);" class="diceRoller" onclick="rollValue('Spot Check','1d20+4');" title="Roll the dice!">+4</a></td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#feats">Feats</a>:</th>
		<td><a href="/srd/feats.htm#alertness">Alertness</a>, <a href="/srd/feats.htm#weaponFocus">Weapon Focus</a> (morningstar)</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#environment">Environment</a>:</th>
		<td>Temperate mountains</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#organization">Organization</a>:</th>
		<td>Solitary, gang (2-4), or band (11-20 plus 150% noncombatants plus 2 2nd-level sergeants and 1 leader of 2nd-5th level)</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#challengeRating">Challenge Rating</a>:</th>
		<td>2</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#treasure">Treasure</a>:</th>
		<td>Standard</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#alignment">Alignment</a>:</th>
		<td>Usually chaotic evil</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#advancement">Advancement</a>:</th>
		<td>By character class</td>
	</tr>
	<tr>
		<th><a href="/srd/monsters/intro.htm#levelAdjustment">Level Adjustment</a>:</th>
		<td>+1</td>
	</tr>
</table>
<p>
	Bugbears speak Goblin and Common.
</p>

<h3>Combat</h3>
<p>
	Bugbears prefer to ambush opponents whenever possible. When hunting, they normally send scouts ahead of the main group that, if they spy prey, return to report and bring up reinforcements.
</p>
<p>
	Bugbear attacks are coordinated, and their tactics are sound if not brilliant.
</p>

<h5>Skills</h5>
<p>
	Bugbears have a +4 racial bonus on <a href="/srd/skills/moveSilently.htm">Move Silently</a> checks.
</p>

<h3 id="bugbearsAsCharacters">Bugbears As Characters</h3>
<p>
	Bugbear characters possess the following racial traits.
</p>
<ul>
	<li>+4 Strength, +2 Dexterity, +2 Constitution, -2 Charisma.</li>
	<li>Medium size.</li>
	<li>A bugbear’s base land speed is 30 feet.</li>
	<li>Racial Hit Dice: A bugbear begins with three levels of humanoid, which provide 3d8 Hit Dice, a base attack bonus of +2, and base <a href="/srd/combat/combatStatistics.htm#savingThrows">saving throw</a> bonuses of Fort +1, Ref +3, and Will +1.</li>
	<li>Racial Skills: A bugbear’s humanoid levels give it skill points equal to 6 &times; (2 + Int modifier). Its class skills are <a href="/srd/skills/climb.htm">Climb</a>, <a href="/srd/skills/hide.htm">Hide</a>, <a href="/srd/skills/listen.htm">Listen</a>, <a href="/srd/skills/moveSilently.htm">Move Silently</a>, <a href="/srd/skills/search.htm">Search</a>, and <a href="/srd/skills/spot.htm">Spot</a>.</li>
	<li>Racial Feats: A bugbear’s humanoid levels give it two feats.</li>
	<li>+3 <a href="/srd/theBasics.htm#naturalArmorBonus">natural armor bonus</a>.</li>
	<li>+4 racial bonus on <a href="/srd/skills/moveSilently.htm">Move Silently</a> checks.</li>
	<li>Special Qualities: <a href="/srd/specialAbilities.htm#darkvision">Darkvision</a> 60 ft., <a href="/srd/specialAbilities.htm#scent">scent</a>.</li>
	<li>Automatic Languages: Common, Goblin. Bonus Languages: Draconic, Elven, Giant, Gnoll, Orc.</li>
	<li>Favored Class: <a href="/srd/classes/rogue.htm">Rogue</a>.</li>
	<li>Level adjustment +1.</li>
</ul>